@font-face {
    font-family:'Monoton';
    src: url(../../images/Monoton-Regular.ttf);
  }
  a:hover{
      text-decoration: none;
  }
.navbar {
    background-color:  #fdd365;
    color: rgba(0, 0, 0, 0.55);
    box-shadow: 0 0 10px 3px rgba(39, 37, 37, 0.45);
}
.title_navabar{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
    font-size: 50px;
   }
.navbar_logo-title:hover{
    text-decoration: none;
    color: rgb(252, 252, 252);
}
   .navbar_logo-title {
     display: flex;
     align-items: center;
     text-decoration: none;
}
.title_LAB{
    text-decoration: none;
    letter-spacing: 5px;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.55);
   
    font-size: 30px;
  }
  .title_notes{
    text-decoration: none;
      font-weight: bolder;
      letter-spacing: 5px;
      color: rgba(0, 0, 0, 0.55);
    font-size: 30px;
  }
   

.navbar button {
    color: rgba(0, 0, 0, 0.55);   
   
}
.navbar button span{
 padding-right: 1%;
  font-size: 20px;
}

.navbar button:hover {
    color: rgb(247, 244, 244);   
}
.btn-logOut{
  width: 150px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  background-color:  #fdd365;
  outline: 0;
  border: 0;
  border-radius: 20px;
}